
AdobeStock_163930697_Video_HD_Preview.mov
moments_v2_RGB_imagenet_resnet3d50_segment16.pth.tar
multi_moments_v2_RGB_imagenet_resnet3d50_segment16.pth.tar
moments_v2_RGB_resnet50_imagenetpretrained.pth.tar
frame_folder/AdobeStock_163930697_Video_HD_Preview.mp4
moments_models
